@import "null";

body {
  background-color: #daeac0;
  font-family: "Roboto", sans-serif;
  max-height: 100%;

  * {
    box-sizing: border-box;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 5rem 0;
}

label {
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input {
  max-width: 50%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 0.3em;
}
